// Define variables for your color scheme
//SD WORKS Colors
$orange: #E94E0F;
$purple: #870B58;
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
