<div class="container">
  <h1>SD-Engage</h1>
  <h2> gamifying employees engagement </h2>
  <p>
    Gamifying is one of the <%= link_to "https://www.iftf.org/fileadmin/user_upload/downloads/books/BobJohansen_QA-NewLeadershipLiteracies.pdf", target: :blank do %>  literacies of future leaders <% end %>
  </p>
  <p>
    Hence, this app looks at incorporating games as a way to augment employee engagement
  </p>
  <p>
    This app is inspired by two books:
    <ul>
      <li><%= link_to "https://en.wikipedia.org/wiki/Start_with_Why", target: :blank do %> <em>Start with Why (2009) </em> by <b> Simon Sinek </b> <% end %> </li>
      <li><%= link_to "https://www.goodreads.com/book/show/24611964-superbetter", target: :blank do %> <em>SuperBetter (2015) </em> by <b>  Jane McGonigal
 </b> <% end %> </li>
    </ul>
  </p>

  <p>
    The first book gave us the foundation for finding where employee engagement comes from
  </p>
  <p>
    The second taught us, and proved by research, how to gamify the foundations of engagement
  </p>

  <p> The main idea is to accompany the employee in the development of her/his psychological strength with the help of his company </p>

  <p> we help employees doing so by having employees:
    <ul>
      <li> creating a secret identity as to increase self-efficacy</li>
      <li> developping a sense of purpose by creating and completing quests </li>
      <li> collecting and activating power ups to develop better emotional control </li>
      <li> finding and battling bad guys as to increase mental flexibility </li>
      <li> all in all challenge themselves and adopt challenge mindset </li>
    </ul>
  </p>
</div>
